In [11]:
import pandas as pd
import numpy as np
import networkx as nx
from itertools import combinations

In [2]:
filepaths = ["ivy_league.txt", "mlb.txt", "potter.txt", "world_cup.txt"]

In [3]:
file = open(filepaths[0])
times = int(file.readline()) # the number of lines in the file after this one
table = []
for loop in range(0, times):
    line = file.readline().strip()
    # split according to spaces
    listed = line.split(" ")
    while "" in listed:
        listed.remove("")
    print(listed)
    table.append(listed)

['Brown', '44', '51', '9', '0', '0', '0', '0', '0', '0', '0', '9']
['Columbia', '44', '51', '9', '0', '0', '0', '0', '0', '0', '0', '9']
['Cornell', '44', '51', '9', '0', '0', '0', '0', '0', '0', '0', '9']
['Dartmouth', '44', '51', '9', '0', '0', '0', '0', '0', '0', '0', '9']
['Penn', '44', '51', '9', '0', '0', '0', '0', '0', '0', '0', '9']
['Harvard', '43', '60', '1', '0', '0', '0', '0', '0', '0', '1', '0']
['Yale', '43', '60', '1', '0', '0', '0', '0', '0', '1', '0', '0']
['Princeton', '0', '59', '45', '9', '9', '9', '9', '9', '0', '0', '0']

In [4]:
table = pd.DataFrame(table) 
table

          0   1   2   3  4  5  6  7  8  9  10 11
0      Brown  44  51   9  0  0  0  0  0  0  0  9
1   Columbia  44  51   9  0  0  0  0  0  0  0  9
2    Cornell  44  51   9  0  0  0  0  0  0  0  9
3  Dartmouth  44  51   9  0  0  0  0  0  0  0  9
4       Penn  44  51   9  0  0  0  0  0  0  0  9
5    Harvard  43  60   1  0  0  0  0  0  0  1  0
6       Yale  43  60   1  0  0  0  0  0  1  0  0
7  Princeton   0  59  45  9  9  9  9  9  0  0  0

In [5]:
# rename the rows
names = table.iloc[:,0].values
names = names.astype(str)
table.index = names
table = table.drop(0, axis = 1) # remove redundancy
table

           1   2   3  4  5  6  7  8  9  10 11
Brown      44  51   9  0  0  0  0  0  0  0  9
Columbia   44  51   9  0  0  0  0  0  0  0  9
Cornell    44  51   9  0  0  0  0  0  0  0  9
Dartmouth  44  51   9  0  0  0  0  0  0  0  9
Penn       44  51   9  0  0  0  0  0  0  0  9
Harvard    43  60   1  0  0  0  0  0  0  1  0
Yale       43  60   1  0  0  0  0  0  1  0  0
Princeton   0  59  45  9  9  9  9  9  0  0  0

In [6]:
col_titles = ['wins', 'losses', 'remaining']
col_titles.extend(names)
col_titles
table.columns = col_titles
table

,wins,losses,remaining,Brown,Columbia,Cornell,Dartmouth,Penn,Harvard,Yale,Princeton
Brown,44,51,9,0,0,0,0,0,0,0,9
Columbia,44,51,9,0,0,0,0,0,0,0,9
Cornell,44,51,9,0,0,0,0,0,0,0,9
Dartmouth,44,51,9,0,0,0,0,0,0,0,9
Penn,44,51,9,0,0,0,0,0,0,0,9
Harvard,43,60,1,0,0,0,0,0,0,1,0
Yale,43,60,1,0,0,0,0,0,1,0,0
Princeton,0,59,45,9,9,9,9,9,0,0,0

In [7]:
# change data types to numeric
table.dtypes
table = table.apply(pd.to_numeric)
table.dtypes

wins         int64
losses       int64
remaining    int64
Brown        int64
Columbia     int64
Cornell      int64
Dartmouth    int64
Penn         int64
Harvard      int64
Yale         int64
Princeton    int64
dtype: object

In [8]:
# make dictionary to hold the eliminations
f = list(np.repeat(False, times))
inds = list(table.index)
eliminated = dict(zip(inds, f))
eliminated

{'Brown': False,
 'Columbia': False,
 'Cornell': False,
 'Dartmouth': False,
 'Penn': False,
 'Harvard': False,
 'Yale': False,
 'Princeton': False}

In [23]:
org = "Brown"
interest = list(table.index)
interest.remove(org)
# make one graph per organization
print("Making graph for: " + org)
g = nx.DiGraph()
g.add_nodes_from(interest)

Making graph for: Brown

In [24]:
g.nodes

NodeView(('Columbia', 'Cornell', 'Dartmouth', 'Penn', 'Harvard', 'Yale', 'Princeton'))

In [25]:
# add all 2-way game combinations
combs = list(combinations(list(g.nodes), 2))
combs

[('Columbia', 'Cornell'),
 ('Columbia', 'Dartmouth'),
 ('Columbia', 'Penn'),
 ('Columbia', 'Harvard'),
 ('Columbia', 'Yale'),
 ('Columbia', 'Princeton'),
 ('Cornell', 'Dartmouth'),
 ('Cornell', 'Penn'),
 ('Cornell', 'Harvard'),
 ('Cornell', 'Yale'),
 ('Cornell', 'Princeton'),
 ('Dartmouth', 'Penn'),
 ('Dartmouth', 'Harvard'),
 ('Dartmouth', 'Yale'),
 ('Dartmouth', 'Princeton'),
 ('Penn', 'Harvard'),
 ('Penn', 'Yale'),
 ('Penn', 'Princeton'),
 ('Harvard', 'Yale'),
 ('Harvard', 'Princeton'),
 ('Yale', 'Princeton')]

In [26]:
g.add_nodes_from(combs)
g.nodes

NodeView(('Columbia', 'Cornell', 'Dartmouth', 'Penn', 'Harvard', 'Yale', 'Princeton', ('Columbia', 'Cornell'), ('Columbia', 'Dartmouth'), ('Columbia', 'Penn'), ('Columbia', 'Harvard'), ('Columbia', 'Yale'), ('Columbia', 'Princeton'), ('Cornell', 'Dartmouth'), ('Cornell', 'Penn'), ('Cornell', 'Harvard'), ('Cornell', 'Yale'), ('Cornell', 'Princeton'), ('Dartmouth', 'Penn'), ('Dartmouth', 'Harvard'), ('Dartmouth', 'Yale'), ('Dartmouth', 'Princeton'), ('Penn', 'Harvard'), ('Penn', 'Yale'), ('Penn', 'Princeton'), ('Harvard', 'Yale'), ('Harvard', 'Princeton'), ('Yale', 'Princeton')))

In [28]:
g.add_node("s")
g.add_node("t")
g.nodes

NodeView(('Columbia', 'Cornell', 'Dartmouth', 'Penn', 'Harvard', 'Yale', 'Princeton', ('Columbia', 'Cornell'), ('Columbia', 'Dartmouth'), ('Columbia', 'Penn'), ('Columbia', 'Harvard'), ('Columbia', 'Yale'), ('Columbia', 'Princeton'), ('Cornell', 'Dartmouth'), ('Cornell', 'Penn'), ('Cornell', 'Harvard'), ('Cornell', 'Yale'), ('Cornell', 'Princeton'), ('Dartmouth', 'Penn'), ('Dartmouth', 'Harvard'), ('Dartmouth', 'Yale'), ('Dartmouth', 'Princeton'), ('Penn', 'Harvard'), ('Penn', 'Yale'), ('Penn', 'Princeton'), ('Harvard', 'Yale'), ('Harvard', 'Princeton'), ('Yale', 'Princeton'), 's', 't'))

In [64]:
# add edges from start -> game -> team -> end
# for org_ in interest:
for org_ in interest:
    print(str(org_))
    for game in combs:
        if org_ in game:
            org1, org2 = game  # unpack tuple
            print("in game")
            # add edges
            g.add_edge("s", game, capacity=table[org1][org2])  # number of games edge
            g.add_edge(game, org1)  # unweighted wins paths
            g.add_edge(game, org2)
            # output path
            g.add_edge(org1, "t", capacity=(table["wins"][org] + table["remaining"][org] - table["wins"][org1]))
            g.add_edge(org2, "t", capacity=(table["wins"][org] + table["remaining"][org] - table["wins"][org2]))

Columbia
in game
in game
in game
in game
in game
in game
Cornell
in game
in game
in game
in game
in game
in game
Dartmouth
in game
in game
in game
in game
in game
in game
Penn
in game
in game
in game
in game
in game
in game
Harvard
in game
in game
in game
in game
in game
in game
Yale
in game
in game
in game
in game
in game
in game
Princeton
in game
in game
in game
in game
in game
in game

In [148]:
res = nx.maximum_flow(g, 's', 't')
g.degree(weight='weight')['s']
g.degree()
e = g.edges
e.data()
# g.out_edges('s')

OutEdgeDataView([('s', ('Columbia', 'Cornell')), ('s', ('Columbia', 'Dartmouth')), ('s', ('Columbia', 'Penn')), ('s', ('Columbia', 'Harvard')), ('s', ('Columbia', 'Yale')), ('s', ('Columbia', 'Princeton')), ('s', ('Cornell', 'Dartmouth')), ('s', ('Cornell', 'Penn')), ('s', ('Cornell', 'Harvard')), ('s', ('Cornell', 'Yale')), ('s', ('Cornell', 'Princeton')), ('s', ('Dartmouth', 'Penn')), ('s', ('Dartmouth', 'Harvard')), ('s', ('Dartmouth', 'Yale')), ('s', ('Dartmouth', 'Princeton')), ('s', ('Penn', 'Harvard')), ('s', ('Penn', 'Yale')), ('s', ('Penn', 'Princeton')), ('s', ('Harvard', 'Yale')), ('s', ('Harvard', 'Princeton')), ('s', ('Yale', 'Princeton'))])

83

In [189]:
len(table.index)

8

In [96]:
interest

['Columbia', 'Cornell', 'Dartmouth', 'Penn', 'Harvard', 'Yale', 'Princeton']

44